{% extends '../base.html' %}

{% block content %}
<div>
    <h4 class="delete-form-heading">Are you sure you want to delete <span style="color: var(--secondary-color); font-weight: 600">{{ object.name }}</span>?</h4>
    <div class="trip-form-body">
        <form action="" method="POST">

            {% csrf_token %}
            <div class="confirm-delete">
                <input type="submit" value="Yes - Delete!" class="btn btn-primary">
                <a href="{% url 'friends_detail' friend.id %}" class="btn btn-secondary">Cancel</a>  
            </div>
        </form>
    </div>
    <div class="sub-home">
        <h1 class="h-text">.&nbsp;&nbsp;.&nbsp;&nbsp;.</h1>
    </div>
</div>
{% endblock %}