{% extends 'base.html' %}

{% block content %}
<div>
    <h1>
        {{ trip.destination }}
    </h1>
    {% for photo in trip.photo_set.all %}
        <img src="{{photo.url}}" alt="Responsive Image" class="img-thumbnail rounded mx-auto d-block">
    {% empty %}
        <div class="card center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' trip.id %}" enctype="multipart/form-data" method="POST" class="card" style="max-width: 300px">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="dn-btn" value="Upload Photo" style="width: 120px; margin: 20px">
    </form>
</div>

<div>
    <form action="{% url 'add_itinerary' trip.id %}" method="POST">
        {% csrf_token %}
        {{ itinerary_form.as_table }}
        <input class="btn btn-primary" type="submit" value="Add Itinerary">
    </form>
    <table class="table table-striped">
        <thead>
            <tr><th scope="col">Date</th><th scope="col">Activity</th></tr>
        </thead>
        <tbody>
            {% for itinerary in trip.itinerary_set.all %}
            <tr>
                <td>{{itinerary.date}}</td>
                <td>{{itinerary.activity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}