{% extends 'base.html' %}

{% block content %}
<div>
    <div class="trip-list-body">
        <h1 class="trip-list-heading">Trip List</h1>
        
        {% for trip in trips %}
        <div class="card" style="width: 40vw">
            <a href="{% url 'detail' trip.id %}" id="trip-list-links">
                    <div class="card-body">
                        <h5 class="card-title" id="ct-trip">{{ trip.destination }}</h5>
                        <p class="ctext-trip"><strong>Leaving Date:</strong> {{ trip.depart }}</p>
                        <p class="ctext-trip"><strong>Budget:</strong> ${{ trip.budget }}</p>
                        <p class="ctext-trip"><strong>Description:</strong> {{ trip.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="sub-home">
        <h1 class="h-text">.&nbsp;&nbsp;.&nbsp;&nbsp;.</h1>
    </div>
</div>

{% endblock %}