{% extends 'base.html' %}

{% block content %}
<div>
    <div class="signup-form">
        <h1 class="trip-form-heading">Log In</h1>
        
        <form action="{% url 'login' %}" class="signup-form-body" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="dn-btn" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    <div class="sub-home">
        <h1 class="h-text">.&nbsp;&nbsp;.&nbsp;&nbsp;.</h1>
    </div>
</div>

{% endblock %}