{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
    <section class="home-t">
        <div class="logo-home-container">
            <img src="../static/img/DestiNationPrimary.png" alt="Logo" class="dn-logo-home">
        </div>
        <div class="t-hheader">
            <h1 class="h-header">DestiNation&copy; brings all of your trip ideas into one location.
                <br>
                Where will you go next?
            </h1>
            <p class="h-text">The adventure awaits...</p>
        </div>
    </section>
    <section class="home-m">
        <div class="card" style="height: 500px">
            <img src="../static/img/travel16.jpg" alt="Card image" class="card-img">
            <div class="card-img-overlay">
                <h5 class="card-title" 
                style="color: #ffffff; 
                    font-size: 40px; 
                    background-color: rgba(237, 106, 90, 0.85);
                    padding: 20px;
                    border-radius: 10px;
                    text-align: center;
                    ">Start planning your next trip today!</h5>
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </section>
    <section class="home-b">
        <div class="card-deck">
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel11.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Travel Essentials</h5>
                    <p class="card-text">What is your suitcase missing? We rank our must have travel items...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel8.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Love Island</h5>
                    <p class="card-text">Check out these islands that are more than a show...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel4.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Road Runner</h5>
                    <p class="card-text">Around the United States in 80 Days. Follow us in our epic trip across the US of A...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel2.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Volcanic Vacation</h5>
                    <p class="card-text">Glamping in a volcano? No problem! Check out these volcanic destinations...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel6.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Water World</h5>
                    <p class="card-text">15 Places you can only get to by boat. Bring an extra pair of trunks...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel9.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Wonder-ful</h5>
                    <p class="card-text">We rank the 7 Wonders of the World. Which Wonder ends up on top? Find out...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
            <div class="card" style="width: 15rem">
                <img src="../static/img/travel7.jpg" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">My Time In a Van, Down By the River</h5>
                    <p class="card-text">We followed the Colorado River across the country camping along the way. See our favorite spots here...</p>
                    <a href="#" class="btn btn-primary" id="btn-b">Discover</a>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-home">
        <h1 class="h-text">.&nbsp;&nbsp;.&nbsp;&nbsp;.</h1>
    </div>
</div>
    
{% endblock %}