:root {
    --primary-font: 'Montserrat', sans-serif;
    --primary-color: #172A3A;
    --secondary-color: #379392;
    --dn-red: #ED6A5A;
    --dn-tan: #FCECC9;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.dn-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.dn-header {
    display: flex;
    background: #ffffff;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.dn-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.dn-logo-container {
    display: flex;
    width: 100px;
    justify-self: start;
}

.dn-nav-links {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 60px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.dn-nav-item {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 15px;
    list-style-type: none;
    font-family: var(--primary-font);
}

.dn-nav-item-link {
    color: var(--primary-color);
}

.dn-nav-item-link:hover {
    color: var(--secondary-color);
    transition: 0.2s ease-out;
    font-weight: 600;
}

.dn-nav-item-link-logout {
    color: var(--primary-color);
}

.dn-nav-item-link-logout:hover {
    color: var(--dn-red);
    transition: 0.2s ease-out;
    font-weight: 600;
}

.dn-nav-item-link-login {
    color: var(--primary-color);
}

.dn-nav-item-link-login:hover {
    color: var(--dn-red);
    transition: 0.2s ease-out;
    font-weight: 600;
}

.logo-home-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.dn-logo-home {
    height: 300px;
    width: 300px;
}

.t-hheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.h-header {
    font-size: 35px;
    text-align: center;
}

.h-text {
    font-size: 25px;
    color: var(--secondary-color);
    padding: 8px;
}

.home-b {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
}

.card {
    margin: 40px 0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-family: var(--primary-font);
    font-weight: bolder;
    font-size: 1.75em;
}

.card-text {
    font-size: 0.95em;
}

.card-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 40px;
}

.signup-form-body {
    font-family: var(--primary-font);
}

.trip-form-body {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 40px;
}

#inputOrigin {
    outline: none;
}

.trip-form-heading {
    font-family: var(--primary-font);
    font-size: 50px;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    margin: 40px;
}

.trip-form {
    font-family: var(--primary-font);
    padding: 40px 80px 40px 80px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    color: var(--primary-color);
}

.trip-list-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 40px 0;
}

.trip-list-heading {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

#ct-trip {
    color: var(--secondary-color);
}

#ct-trip:hover {
    color: var(--dn-red);
    transition: 0.2s ease-out;
}

#trip-list-links {
    color: var(--primary-color);
    text-decoration: none;
}

.ctext-trip {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.trips-logo {
    height: 200px;
    width: auto;
}

.tdetail-t {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    margin-top: 100px;
}

.tdetail-heading {
    font-weight: 600;
    font-size: 60px;
    color: var(--secondary-color);
}

.trip-info {
    color: var(--primary-color);
    max-width: 400px;
}

.itinerary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.itinerary-heading {
    font-size: 30px;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 20px;
}

.itinerary-form {
    color: var(--primary-color);
}

#activity-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 400px;
    background: url(../img/travel5.jpg);
    background-position: center;
    background-size: cover;
}

.tdetail-m {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-template-areas: "card" "card" "card";
    grid-gap: 20px;
}


#photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 400px;
    background: url(../img/travel5.jpg);
    background-position: top;
    background-size: cover;
}

#photo-deck {
    max-width: 360px;
    height: auto;
}

#photo-title {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.tdetail-b {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
    grid-template-areas: "friend-container" "friends-available";
    margin-top: 40px;
}

.friend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
}

.friends-available {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
}

.friends-heading {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

#friend-card {
    margin-bottom: 10px;
}

.flight-inspiration {
    margin-top: 40px;
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: var(--secondary-color);
}

.flight-insp-header {
    font-size: 60px;
    font-weight: 600;
}

.flight-insp-text {
    font-size: 20px;
    color: var(--primary-color);
}

.flight-heading {
    font-family: var(--primary-font);
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: 0 0 8px 0;
}

.flight-body {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
    grid-template-areas:
    "flight-form-container flight-results"
    "flight-key flight-key";
    font-family: var(--primary-font);
    margin: 60px 0 40px 0;
}

.flight-form-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flight-form {
    font-family: var(--primary-font);
}

.flight-results {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

table {
    text-align: center;
}

th {
    background-color: var(--dn-red);
    color: white;
}

.flight-table-container {
    width: 300px;
}

.flight-key {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
}

.flight-key-container {
    width: 600px;
}

.iata {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.friend-detail-body {
    margin-top:40px;
}

.card-link {
    padding: 20px;
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    text-decoration: none;
}

.card-link-item {
    color: #ffffff;
    margin-right: 10px;
    text-decoration: none !important;
}

.card-link-item:hover {
    color: var(--primary-color);
    font-weight: 600;
    transition: 0.2s ease-out;
}

.delete-form-heading {
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--primary-color);
    padding: 20px;
    margin-top: 100px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    border: none !important;
    font-family: var(--primary-font);
}

.btn-primary:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.88;
}

.btn-secondary {
    background-color: var(--dn-red) !important;
    border: none !important;
    font-family: var(--primary-font);
}

.btn-secondary:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.88;
}

.dn-btn {
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    height: 35px;
    width: 100px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
    outline: none;
}

.dn-btn:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    opacity: 0.88;
}

.dn-heading {
    font-family: var(--primary-font);
}

.dn-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding: 0 20px 0 20px;
    flex-grow: 1;
}

.dn-title {
    font-family: var(--primary-font);
}

.dn-footer {
    padding: 4rem 0 2rem 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
    justify-content: center;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 200px;
    box-sizing: border-box;
}

.footer-link-items h2{
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 25px;
}

.footer-link-items a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-bottom: 0.25rem;
}

.footer-link-items a:hover {
    color: #ffffff;
    transition: 0.3s ease-out;
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--secondary-color);
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-icon-link {
    color: #ffffff;
    font-size: 30px;
}

.social-icon-link:hover {
    color: var(--secondary-color);
    transition: 0.3s ease-out;
}

.social-logo {
    justify-self: start;
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.logo-footer {
    height: 150px;
    width: auto;
}

.website-rights {
    font-family: var(--primary-font);
    color: #ffffff;
    font-size: 12px;
    margin: 16px 0 16px 0;
}